*,
body {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;
}
p, h2, h3 {
    margin: 0;
}
.flex {
    width: 100%;
    overflow: hidden;
    padding: 50px 100px;
}

.flex-item {
    padding: 7.5px 15px;
    border: 2px solid #4FB9FF;
    border-radius: 7.5px;
    background-color: #CFE8DC;
    margin: 10px 0;
}
.content {
    padding-left: 15px;
    height: 450px;
}
.col-lg-x3 {
    width: 60%;
    max-width: 60%;
    padding-right: 7.5px;
}
.col-lg-x2 {
    width: 40%;
    max-width: 40%;
    padding-left: 7.5px;
}
.main {
    height: 250px;
}
.fifth {
    height: 150px;
}
.forth {
    margin-top: 30px;
    height: 127.5px;
}
.third {
    margin-top: 50px;
    height: 109.5px;
}
.second {
    height: 170px;
}
.sixth {
    margin-top: 30px;
    height: 210px;
}
.seventh {
    height: 227.5px;
}
.eightth {
    height: 420px;
}
