*, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
}

p, ul, h2 {
    margin: 0;
}
ul li {
    list-style: none;
}
.search-menu {
    width: 100%;
    overflow: hidden;
}
.search-menu__wrapper {
    padding: 3rem 0;
}
.search-menu__title {
    font-size: 1.5rem;
    padding-bottom: .6rem;
}
.search-menu__desc {
    font-size: 1rem;
    padding-bottom: .6rem;
}
.left {
    padding: 1.25rem 0;
    background-color: #bbb;
}
.left .search-menu__title,
.menu-item {
    padding: 0.6rem .93rem;
}
#search {
    width: 100%;
    border: none;
    padding: .93rem;
    font-size: 1rem;
    color: #262626;
}
#search::placeholder {
    font-size: 1rem;
    color: #95a5a6;
}
#search:focus {
    border: none;
    outline: none;
}
.menu-item {
    cursor: pointer;
    
}
.menu-item:hover {
    background-color: #fff;
}
.menu-item a{
    text-decoration: none;
    color: #262626;
    font-size: 1rem;
}