/*font*/
$font-regular: 'Raleway-Regular',
sans-serif;
$font-bold: 'Raleway-Bold',
sans-serif;
$font-medium: 'Raleway-Medium',
sans-serif;
/*url-imgs*/
$url-img: "../imgs/content/";
/*color*/
$bg: #49fcd4;
$bg-border: #43d9b8;
$font-black: #000;
$font-content: #34495e;
$white: #fff;
$border-grey: #d9d9d9;